html {
  font-family: 'Chivo', sans-serif;
  background-color: #57C1DE;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #57C1DE;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
nav .nav-container {
  width: 50%;
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 0;
}
nav .links {
  height: 60px;
  position: absolute;
  top: 0;
  right: 30px;
  margin: 0;
  display: inline-block;
  text-align: center;
  line-height: 3;
}
nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14pt;
  padding: 0px 10px;
}
nav #logo {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}
nav #logo a {
  padding: 38px 60px;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header {
  text-transform: uppercase;
  font-size: 64pt;
  color: #fff;
  margin: 0;
}

.blue {
  color: #57C1DE;
}

.white {
  color: #fff;
}

.sub-header {
  font-size: 24pt;
  margin: 0;
}

#introduction .intro-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5%;
  width: 50%;
  height: auto;
}

#about {
  background-color: #fff;
}
#about .about-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5%;
  width: 70%;
  height: auto;
}

#photography {
  background: url(http://theawesomer.com/photos/2010/11/112910_natgeo_photo_contest_1.jpg) no-repeat;
  background-size: cover;
  transition: 1s ease;
}
#photography .photography-contents {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5%;
  width: 50%;
  height: auto;
}

#contact {
  height: 250px;
  background-color: #fff;
}
#contact .contact-content {
  width: 80%;
  height: auto;
  position: relative;
  top: 6%;
  left: 5%;
}
#contact .contact-content .social-links {
  height: 250px;
  position: absolute;
  right: 0;
  top: -15px;
}
#contact .contact-content .social-links .link {
  width: 75px;
  height: 250px;
  display: inline-block;
  text-align: center;
  position: relative;
}
#contact .contact-content .social-links .link i {
  color: #57C1DE;
  font-size: 36pt;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#contact .contact-content .social-links .link:hover {
  background-color: #57C1DE;
}
#contact .contact-content .social-links .link:hover i {
  color: #fff;
}

.more {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 95%;
  background: #fff;
}
.more .arrow {
  width: 5%;
  height: 100vh;
  text-align: center;
}
.more .arrow i {
  font-size: 24pt;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #57C1DE;
}
.more .arrow:hover {
  background-color: #57C1DE;
  cursor: pointer;
}
.more .arrow:hover i {
  color: #fff;
}
.more .content {
  width: 90%;
  height: 95vh;
  position: absolute;
  top: 2vh;
  left: 7%;
}
.more .content h1 {
  color: #57C1DE;
  font-size: 24pt;
  position: relative;
  top: 50px;
  left: 30px;
}
.more .content .info {
  width: 90%;
  height: 60vh;
  margin: auto;
  position: relative;
  top: 60px;
}
.more .content .info p {
  color: #57C1DE;
  font-size: 24pt;
  opacity: 0;
}

/*# sourceMappingURL=main.css.map */
